.m-btn {
  display: flex;
  background-color: #34b057;
  border-radius: 4px;
  height: 36px;
  color: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  border: none;
  cursor: pointer;
}

.m-btn:hover {
  background-color: #02b936;
  color: #fff;
}

.m-btn:active {
  background-color: #34b057;
  color: #fff;
}

.m-btn-white {
  display: flex;
  background-color: #fff;
  color: #212121;
  border: 1px solid #ebebeb !important;
  border-radius: 4px;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  border: none;
  cursor: pointer;
}

.m-btn-white:hover {
  background-color: #fff;
  color: #02b936;
  border: 1px solid #02b936 !important;
}

.m-btn-white:active {
  background-color: #fff;
  color: #198f3b;
  border: 1px solid #198f3b !important;
}

.icon-add {
  -webkit-mask-image: url(https://testcdnamisapp.misa.vn/apps/payroll/static/img/Icon.9254d79.svg);
  -webkit-mask-position: -222px -2px;
  -webkit-mask-repeat: no-repeat;
  background-color: #ffffff !important;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.text-btn {
  font-weight: 500;
}

.icon-unfollow {
  -webkit-mask-image: url(https://testcdnamisapp.misa.vn/apps/payroll/static/img/Icon.9254d79.svg);
  -webkit-mask-position: -222px -42px;
  -webkit-mask-repeat: no-repeat;
  background-color: #f90 !important;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.btn-unfollow-all {
  background-color: #fff;
  color: #f90;
  border: 1px solid #f90;
}

.btn-unfollow-all:hover,
.btn-unfollow-all:active {
  background-color: #fff;
  color: #f90;
  border: 1px solid #f90;
}

.icon-deletes {
  -webkit-mask-image: url(https://testcdnamisapp.misa.vn/apps/payroll/static/img/Icon.9254d79.svg);
  -webkit-mask-position: -120px -23px;
  -webkit-mask-repeat: no-repeat;
  background-color: #ff6161 !important;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.btn-deletes {
  background-color: #fff;
  color: #ef292f;
  border: 1px solid #ef292f;
}

.btn-deletes:hover {
  background-color: #fee8e7;
  color: #ef292f;
  border: 1px solid #ef292f;
}

.btn-deletes:active {
  background-color: #fdd0ce;
  color: #ef292f;
  border: 1px solid #ef292f;
}

.box-btn-deletes {
  margin-left: 8px;
}

.btn-save-column
{
  padding: 0 29px;
}