.box-filter {
  width: 278px;
  height: 480px;
  background-color: #fff;
  margin-right: 20px;
  border-radius: 4px;
  box-shadow: 0px 8px 8px 0px #ccc;
}

.hidden-filter {
  display: none;
}

.wrapper-filter {
  padding: 15px;
}

.header-filter {
  height: 36px;
  line-height: 36px;
}

.text-header {
  font-size: 20px;
  font-weight: 700;
  color: #212121;
}

.box-icon-close {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 40px;
  cursor: pointer;
}

.icon-close-filter {
  width: 20px;
  height: 20px;
  -webkit-mask-image: url(https://testcdnamisapp.misa.vn/apps/payroll/static/img/Icon.9254d79.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: -280px 0;
  background-color: #707070 !important;
  margin-top: 8px;
  margin-left: 8px;
}

.box-icon-close:hover {
  background-color: #e6e6e6;
  border-radius: 50%;
}

.input-search-filter {
  margin-left: -20px;
  margin-top: 12px;
  width: 247px;
}

.icon-search-filter {
  background: url("../../assets/img/Icon.9254d79.svg") no-repeat -2px -2px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
  top: 21px;
}

.content-filter {
  margin-top: 10px;
  height: 330px;
  overflow-y: scroll;
}

.icon-checkbox-filter-default {
  width: 20px;
  height: 20px;
  background: url(../../assets/img/Icon.9254d79.svg) -240px 0 no-repeat;
  margin-left: 5px;
}

.icon-checkboc-filter-checked {
  width: 20px;
  height: 20px;
  background: url(../../assets/img/Icon.9254d79.svg) -260px 0 no-repeat;
  margin-left: 5px;
}

.background-box-item {
  background-color: #eafbf2;
}

.size-box-item {
  width: 100%;
  height: 126px;
}

.item-filter {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.input-filter
{
  width: 235px;
  margin-left: 2px;
  margin-top: 8px;
  padding: 0 12px;
}