/* margin cho table */
.box-gird {
  margin-left: 24px;
  margin-right: 24px;
  height: calc(100vh - 275px);
}

/* ẩn message */
.dx-datagrid-group-panel .dx-group-panel-message {
  display: none !important;
}

/* fix width cho input search */
.dx-toolbar-item-content > .dx-texteditor {
  width: 300px !important;
}

/* border input search */
.dx-toolbar-item-content > .dx-texteditor.dx-editor-outlined {
  border: 1px solid #e0e0e0 !important;
}

/* vị trí inputsearch */
.dx-toolbar .dx-toolbar-after {
  position: absolute !important;
  left: -10px;
  top: -47px;
}

/* border input search */
.dx-texteditor.dx-editor-outlined:hover,
.dx-texteditor.dx-editor-outlined:focus,
.dx-texteditor.dx-editor-outlined:active {
  border: 1px solid #34b057 !important;
}

/* ẩn panel */
.dx-datagrid-borders > .dx-datagrid-header-panel {
  height: 0px !important;
}

/* style checkbox */
.dx-checkbox-icon {
  border-radius: 4px !important;
  border: 2px solid #737888 !important;
}

/* fix height cho tr */
.dx-datagrid-content .dx-datagrid-table .dx-row {
  line-height: 33px !important;
  height: 33px !important;
}

/* padding text thead */
.dx-datagrid-text-content {
  color: #212121 !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}

/* set background color cho thead */
.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  background: #f6f6f6;
  cursor: pointer;
}

/* padding */
.dx-datagrid .dx-row > td {
  padding: 0 16px !important;
  line-height: 47px;
  cursor: pointer;
}

/* padding text td */
.dx-datagrid-content .dx-datagrid-table .dx-row td {
  margin-left: 8px !important;
}

/* set color cho td */
.dx-datagrid .dx-row-alt > td {
  background-color: #fff !important;
}

/* set border cho column 3 */
.dx-datagrid-content .dx-datagrid-table .dx-row td:nth-child(3) {
  border-right: 1px solid #ddd !important;
}

/* set border bottom */
.dx-datagrid-content .dx-datagrid-table .dx-row td {
  border-bottom: 1px solid #ddd !important;
}

/* bỏ border table */
.dx-datagrid .dx-row > td {
  border-left: none !important;
  border-right: none !important;
}

/* fix width checkbox */
.dx-datagrid-content
  .dx-datagrid-table.dx-datagrid-table-fixed
  colgroup
  col:first-child {
  width: 58px !important;
}

/* bỏ border tbody */
.dx-widget .dx-visibility-change-handler {
  border-left: none !important;
  border-right: none !important;
}

/* bỏ border thead */
.dx-datagrid-borders > .dx-datagrid-headers {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

/* set background khi active */
.dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row)
  > td:not(.dx-focused) {
  background-color: #eafbf2 !important;
}

/* set background khi hover */
.dx-datagrid-rowsview .dx-selection.dx-row > td,
.dx-datagrid-rowsview .dx-selection.dx-row:hover > td {
  background-color: #eafbf2 !important;
}

/* chỉnh page-size */
.dx-page-sizes {
  position: absolute;
  right: 250px;
}

/* chỉnh page index */
.dx-page-indexes {
  margin-right: 15px;
}

/* bỏ border-top của paging */
.dx-datagrid-borders > .dx-datagrid-filter-panel,
.dx-datagrid-borders > .dx-datagrid-headers,
.dx-datagrid-borders > .dx-datagrid-pager {
  /* border-top: none !important; */
}

/* ẩn cái paging đi */
.dx-pages {
  display: none;
}

/* style cho icon-status */
.icon-status {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: rgb(52, 176, 87);
  color: rgb(0, 0, 0);
}

/* style cho text-status */
.text-status {
  margin-left: 8px;
  color: rgb(52 172 84);
}

/* ẩn phần chức năng */
.box-option {
  display: none;
}

/* khi hover thì hiện chức năng trên row */
.dx-state-hover .box-option {
  display: block !important;
}

/* style btn theo dõi */
.btn-follow {
  width: 20px;
  height: 20px;
  -webkit-mask-image: url(https://testcdnamisapp.misa.vn/apps/payroll/static/img/Icon.9254d79.svg);
  -webkit-mask-repeat: no-repeat;
  background-color: #f90 !important;
  -webkit-mask-position: -220px -40px;
  margin-top: 15px;
  margin-right: 20px;
}

/* style btn nhân bản */
.btn-clone {
  width: 20px;
  height: 20px;
  -webkit-mask-image: url(https://testcdnamisapp.misa.vn/apps/payroll/static/img/Icon.9254d79.svg);
  -webkit-mask-repeat: no-repeat;
  background-color: #707070 !important;
  -webkit-mask-position: -80px 0;
  margin-top: 15px;
  margin-right: 20px;
}

/* style btn sửa */
.btn-edit {
  width: 20px;
  height: 20px;
  -webkit-mask-image: url(https://testcdnamisapp.misa.vn/apps/payroll/static/img/Icon.9254d79.svg);
  -webkit-mask-repeat: no-repeat;
  background-color: #707070 !important;
  -webkit-mask-position: -60px 0;
  margin-top: 15px;
  margin-right: 20px;
}

/* style btn delete */
.btn-delete {
  width: 20px;
  height: 20px;
  -webkit-mask-image: url(https://testcdnamisapp.misa.vn/apps/payroll/static/img/Icon.9254d79.svg);
  -webkit-mask-repeat: no-repeat;
  background-color: #ff6161 !important;
  -webkit-mask-position: -120px -20px;
  margin-top: 12px;
}

/* style cho checkbox mới datagrid */
.dx-datagrid-checkbox-size.dx-checkbox-checked .dx-checkbox-icon {
  width: 20px !important;
  height: 20px !important;
  background: url(https://testcdnamisapp.misa.vn/apps/payroll/static/img/Icon.9254d79.svg) -260px
    0px no-repeat;
  border: none !important;
  border-radius: none !important;
}

/* ẩn dòng cuối cùng */
.dx-freespace-row {
  display: none;
}

/* z-index của thanh scroll */
.dx-scrollable-scroll-content {
  z-index: 2;
}

/* chỉnh text no data */
.dx-empty {
  height: 48px !important;
  font-style: italic;
}
