.hidden-img {
  display: none;
}


.loading {
  position: fixed;
  top: 120px;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1111;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
