.paging
{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}

.box-paging
{
    background-color: #e6e6e6;
}

.amount-record
{
    margin-left: 23px;
    margin-top: 3px;
}

.paging-right
{
    position: absolute;
    right: 50px;
}

.page-size
{
    margin-right: 12px;
    margin-top: 3px;
}

.index-page
{
    display: flex;
    margin-right: 30px;
    margin-top: 3px;
}

.pagination
{
    display: flex;
    align-items: center;
    height: 32px;
}

.pagination .active
{
    border: 1px solid #e0e0e0;
    font-weight: 900;
}

.pagination .disabled .btn-pre,.pagination .disabled .btn-next
{
    color:#afb3c1;
    background-color: #afb3c1;
}

.pagination li 
{
    list-style-type: none;
}


.btn-pre
{
    -webkit-mask-image: url(https://testcdnamisapp.misa.vn/apps/payroll/static/img/Icon.9254d79.svg);
    -webkit-mask-position: -154px -5px;
    -webkit-mask-repeat: no-repeat;
    font-size: 10px;
    background-color: #707070 ;
    color: #707070;
    position: absolute;
    top: 14px;
    right: 37px;
}

.btn-next
{
    -webkit-mask-image: url(https://testcdnamisapp.misa.vn/apps/payroll/static/img/Icon.9254d79.svg);
    -webkit-mask-position: -135px -5px;
    -webkit-mask-repeat: no-repeat;
    font-size: 10px;
    background-color: #707070 ;
    color: #707070;
    position: absolute;
    top: 14px;
    right: -3px;
}

.page-item
{
    display: none ;
}
