.dx-texteditor.dx-editor-outlined {
  border: 0px solid #ddd !important;
}

.dx-texteditor-buttons-container {
  display: none !important;
}

.dx-dropdowneditor-icon:hover {
  background-color: white !important;
}

.dx-selectbox .dx-texteditor-input:hover .dx-state-hover {
  background-color: white !important;
}


.dx-overlay-content.dx-popup-normal.dx-resizable {
  width: 220px !important;
  transform: translate(-94px, 34px) !important;
}

.dx-dropdownlist-popup-wrapper
  .dx-list:not(.dx-list-select-decorator-enabled)
  .dx-list-item-content {
  padding-right: 20px !important;
  padding-left: 10px !important;
}

.dx-dropdownlist-popup-wrapper
  .dx-list:not(.dx-list-select-decorator-enabled)
  .dx-list-item-content:hover {
  background-color: #eafbf2 !important;
}

.dx-list-item-selected {
  background-color: #eafbf2 !important;
  color: #34b057 !important;
}
